[Unit]
Description=Hourly Garmin synchronization for MyMiam

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
